# Fit Convergent Cross Mapping Model to Data Sets

In [2]:
import pandas as pd
import numpy as np
import skccm as ccm
import matplotlib.pyplot as plt
import seaborn as sns
from skccm.utilities import train_test_split
from teaspoon.parameter_selection.FNN_n import FNN_n

np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [4]:
# from 2012-2020 9 years in total, 12 months for each year
merged_df = pd.read_csv('./data/merged_all_data.csv',index_col=0)
mergeda_df = merged_df.sort_values(by=['year','month'],ascending=[True, True])
mergeda_df.head()

,USstate,year,month,nTweets_x,nTweets_y,Number of establishments (ESTAB),abbr,full,population,actual_rape_total,Temperature,Cost of Living Index,tweet_proportion
0,al,2012,1,51744.00000,3.00,367.000000,al,Alabama,4834334,106,50.1,71.180000,0.000058
108,ak,2012,1,20125.60000,1.35,375.962006,ak,Alaska,735190,39,-12.8,77.304376,0.000067
216,az,2012,1,57016.09091,1.00,99.781590,az,Arizona,6572455,205,45.3,92.889410,0.000018
324,ar,2012,1,7733.00000,1.00,212.571483,ar,Arkansas,2981157,108,44.6,66.683538,0.000129
432,ca,2012,1,134228.00000,5.00,547.446496,ca,California,38183375,671,46.5,65.724957,0.000037